<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="いなにわ">
    <link rel="icon" href="favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@inaniwa3">
    <meta property="og:title" content="<%= y["title"] %>｜いなにわ">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://inaniwa3.github.io/texts/<%= y["filename"] %>">
    <meta property="og:image" content="https://inaniwa3.github.io/texts/img/og.png">

    <title><%= y["title"] %>｜いなにわ</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">

      <div class="starter-template col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

        <h4><%= y["title"] %></h4>

        <p></p>

        <p class="text-justify">
<%= y["text"] %>
        </p>

      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>
